* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

/* .active {
  display: inline-block;
  transition: all 2s ease-in-out;
  border-bottom: 2px solid transparent;
  position: relative;
  margin: 0 auto;
  width: 0%;
}

.active:hover {
  border-bottom: 2px solid red;
   width: 100%;
} */